---
import App from '../components/App';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>LaTeX Editor & Compiler</title>
	</head>
	<body class="bg-[#1a1a1a] overflow-hidden">
		<App client:load />
	</body>
</html>
